
.header-image{
  background-image: url("images/267988-machine-learning-consultancy-archives-rock-concert.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heder-logo{
  text-align: center;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 140px;
  
}
.quatetion{
  text-align: center;
  color: darkslategray;
}
hr{
  background-color: black;
  height:5px;
  
}
.about{
  text-align:center;
}

footer{
  background-color: rgb(94, 94, 121);
}

.footer-image{
  text-align: center;
  padding: 20px;
}